*{
    /*border: solid 1px black;*/
    margin: 0px;
    background: linen;
}


header{
    width: 100%;
    height: 180px;
    background: lightblue;
}

header img{
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 40px;
    background: lightblue;
}

header nav{
    float: right;
    height: 100px;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 40px;
    background: lightblue;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin-top: 35px;
    border-radius: 15px;
    background: cornflowerblue;
}

li{
    background: cornflowerblue;
}

li a{
    text-decoration: none;
    font-weight: bold;
    color: azure;
    background: cornflowerblue;
}

main{
    float: left;
    width:70%;
    background: linen;
}

article{
    margin: 20px;
}

aside{
    float: right;
    height: 100%;
    width: 30%;
    background: lightgrey;
}

footer{
    clear: both;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
    border-top: solid 5px lightblue;
}